[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The utility to patch binary files
[access "refs/*"]
	owner = group user/Max Rasskazov (mrasskazov)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Max Rasskazov (mrasskazov)
	label-Verified = -1..+1 group user/Max Rasskazov (mrasskazov)
	push = group user/Max Rasskazov (mrasskazov)
	read = group user/Max Rasskazov (mrasskazov)
	rebase = group user/Max Rasskazov (mrasskazov)
	removeReviewer = group user/Max Rasskazov (mrasskazov)
	submit = group user/Max Rasskazov (mrasskazov)
[access "refs/heads/*"]
	create = group user/Max Rasskazov (mrasskazov)
	push = +force group user/Max Rasskazov (mrasskazov)
	pushMerge = group user/Max Rasskazov (mrasskazov)
	read = group user/Max Rasskazov (mrasskazov)
[access "refs/tags/*"]
	push = group user/Max Rasskazov (mrasskazov)
	push = +force group user/Max Rasskazov (mrasskazov)
